<main
  [ngStyle]="{
    'background-image':
      'url(http://image.tmdb.org/t/p/original' + activeImage + ')'
  }"
>
  <div class="overlay">
    <swiper
      [slidesPerView]="1"
      [spaceBetween]="10"
      [navigation]="false"
      [pagination]="{ clickable: false }"
      [scrollbar]="{ draggable: true }"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange($event)"
      [autoplay]="{ delay: 5000, disableOnInteraction: false }"
    >
      <ng-template swiperSlide *ngFor="let movie of now_playing.results">
        <div class="info">
          <h1 class="title">{{ movie.title }}</h1>
          <div class="stats">
            <h3 class="rating">{{ movie.vote_average }}<span>/10</span></h3>
            <h3 class="reviews">{{ movie.vote_count }} reviews</h3>
            <h3 class="release">{{ movie.release_date | date : "yyyy" }}</h3>
          </div>
          <p class="description">{{ movie.overview }}</p>
        </div>
      </ng-template>
    </swiper>
  </div>
</main>
