nav {
  width: 100%;
  background-color: var(--dark-bg);
  padding: 20px 0;

  .container {
    margin: 0 auto;
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    img {
      width: 70px;
      height: 30px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    li {
      margin: 0 25px;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}
