#movie {
    width: 185px;
    height: 299px;
    img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 185px;
        height: 278px;
    }
    .title {
        h2 {
            font-size: 17px;
            font-weight: 600;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}