/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #0076c6;
  --blur: 10px;
  --dark-bg: #212121;
  --transparent-dark-bg: #212121cc;
  --card-color: rgb(47, 48, 49);
}

* {
  margin:
    0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial;
}
